[Unit]
Description = Example sender
Wants = network-online.target
After = local-fs.target network-online.target

[Service]
User =
WorkingDirectory =
ExecStart =
Restart = on-failure
RestartSec = 5
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
